<md-toolbar color="primary" >
	<div class="row">
		<div class="col-xs-1 pointer no-padding text-center" (click)="start.toggle()">
			<md-icon> reorder </md-icon>
		</div>
		<div class="col-xs-5">
			<a routerLink="/" style="color:white;"> ¡Yo hice esto! </a>	
		</div>
	</div>  
</md-toolbar>	
<md-sidenav-layout>
	<!-- #start define una variable -->
  <md-sidenav #start>
  	<!-- Algunos elementos de MD rompen angular universal -->
  	<a routerLink="/home"> Home </a>
  	<a routerLink="/about"> About </a>	
  	<a>
  		<md-checkbox [(ngModel)]="notificationsActive" (change)="toggleNotificationPermission()"> Notificaciones </md-checkbox>
  	</a>
    <a #closeStartButton (click)="start.close()">Close</a>
  </md-sidenav>

  <span *shellRender>Cargando</span>
	<div class="container" *shellNoRender>
		<router-outlet></router-outlet>
	</div>
	<button app-fab routerLink="/new">
	  <md-icon class="md-24">add</md-icon>
	</button>
	
</md-sidenav-layout>


