header{
	position: relative;
	padding:2em;
	color: #9fa8da;
	background-color: #222;
}
.top-space{
  margin-top: 1em;
}
.bottom-space{
  margin-bottom: 1em;
}
.logro{
  padding:120px 20px;
  color: #eee;
  font-size: 1.3em;
  position: relative;
  text-align: center;
}
.logro .bottom{
  position: absolute;
  bottom:1em;
  width: 100%;
  text-align: left;
}
.logro h3{
  font-size: 1.7em;

}
button{
  position: relative;
  z-index: 100;
}
md-card{
  margin-top: 1em;
}
header h2{
	font-size:3em;
	text-align: center;
	display: inline-block;
	vertical-align: baseline;
}


@media screen and (min-width: 40.5em) {
  .logro {
    width: 50%;
    display: inline-block;
    height: 300px;
    margin-right: -4px;
    vertical-align: top;
    padding:40px 20px;
  }
}

